backend/venv
__pycache__/
*.pyc
.DS_Store 
priormdm/
diffusion-motion-inbetweening/
backend/diffusion_motion_inbetweening/dataset/
backend/diffusion_motion_inbetweening/kit/
backend/diffusion_motion_inbetweening/glove/
backend/diffusion_motion_inbetweening/t2m/
backend/diffusion_motion_inbetweening/body_models/smpl/
frontend/node_modules
data/
*.pth
*.npy
*.npz
*.mp4
*.pkl
*.tar
*.pt